<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Json.Net" version="1.0.18" targetFramework="net461" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net461" />
  <package id="SQLite" version="3.13.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net461" />
</packages>